h1{ 
    /* display: flex;
    justify-self: center;
    align-items: center; */
    text-align: center;
}

.search_container{
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
}